<!-- Image Logo -->
<div class="tile is-vertical is-parent is-centered ">
    <img id="login-image" src="/images/Logo/logo_transparent.png" style="border-radius: 10px; height: 220px; width: 220px;">

    <div class="tile is-child box has-text-centered">
      <p class="title">Log in</p>
    <form class="form login-form">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email" id="email-login">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" id="password-login">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <div class="form-group">
          <button class="button is-light" type="submit">Login</button>
        </div>
    </form>
  </div>
</div>

<!--JS Script for login-->
<script src="./js/login.js"></script>