<!-- Image Logo -->
<div class="tile is-vertical is-parent is-centered">
  <img id="login-image" src="/images/Logo/logo_transparent.png" style="border-radius: 10px; height: 220px; width: 220px;">
    <div class="tile is-child box has-text-centered">
      <!-- Sign up input -->
      <p class="title">Sign up</p>
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Full Name">
    </div>
  </div>
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <!-- <p class="help is-danger">This email is invalid</p> -->
  </div>
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <!-- <p class="help is-success">Password</p> -->
  </div>
  <div class="field">
        <div class="form-group">
          <button class="button is-light" type="submit">Sign Up</button>
        </div>
  </div>
</div>
</div>

<!--JS Script for login-->
<script src="./js/login.js"></script>